doctype html
html(lang="en")
	include base/head.pug
	body
		.page
			.page-inner
				= '\n'

				include base/header.pug
				= '\n'

				.page-body
				= '\n'

				include base/footer.pug
			= '\n'

			include base/popups.pug
		= '\n'

		include base/scripts.pug