doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Fortcode project name

body
	.page
		.page-inner
			|
			include base/header.pug
			|
			|
			.page-body

			include base/footer.pug

		include base/popups.pug

	include base/scripts.pug